@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  width: 100%;
  background-color: #111f34;
  text-align: center;
  padding: 100px 0 260px 0;
  position: absolute;
}
.hero-container {
  margin: 0 auto;
}
.title {
  color: #84b1f5;
  font-size: 64px;
  font-weight: 700;
}
.subtitle {
  color: #cbd3df;
  font-size: 20px;
}

.cards-container {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 20px;
}
.cards {
  display: flex;
  align-items: center;
  position: relative;
  top: 320px;
}
.card {
  background-color: #ffffff;
  max-width: 330px;
  padding-top: 30px;
}
.card-left {
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.card-center {
  border: 2px solid #1e68d7;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.card-right {
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-info {
  text-align: center;
}
.banner {
  background-color: #1e68d7;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 24px;
  border-radius: 10px;
  position: relative;
  bottom: 40px;
}
.card-type {
  font-size: 20px;
}
.card-price {
  font-size: 36px;
  font-weight: 700;
}
.card-price-span {
  color: #6e798b;
  font-size: 20px;
  font-weight: 700;
}

.card-itens {
  padding: 25px 20px 11px 20px;
}
.card-itens-bg {
  background-color: #f2f2f2;
  margin-top: 26px;
  padding: 11px;
}
.bg-left {
  border-radius: 0px 0px 0px 10px;
}
.bg-center {
  border-radius: 0px 0px 10px 10px;
}
.bg-right {
  border-radius: 0px 0px 10px 0px;
}

.item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.item .icon {
  margin-right: 16px;
}
.icon {
  color: #488921;
  font-size: 14px;
}
.item-description {
  color: #6e798b;
  font-size: 18px;
}

.btn {
  background-color: #ffffff;
  color: #1e68d7;
  padding: 9px 90px;
  border-radius: 5px;
  text-align: center;
}
.btn-blue {
  background-color: #1e68d7;
  color: #ffffff;
}
.btn:hover {
  background-color: #e5e5e5;
  transition: ease-in-out 0.2s;
}
.btn-blue:hover {
  background-color: #1a5bbd;
  transition: ease-in-out 0.2s;
}
